
<h2>List of Orders</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Order Date</th>
            <th>Total Price</th>
            <th>Order Status</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let ord of order; let i= index" (click)="fetchOrder(i)">
            <td>{{ord.oid}}</td>
            <td>{{ord.date}}</td>
            <td>{{ord.totalprice}}</td>
            <td>{{ord.status}}</td>
        </tr>
    </tbody>
</table>