<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav" >
      <li class="nev-item">
        <a class="nav-link active" >Badhiya Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!status" [routerLink]="['register']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  *ngIf="!status" [routerLink]="['login']">Login</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['list']">List Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['search']">Search Products</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto" >
      <!-- <li class="nev-item">
        <a class="nav-link active" href="#">Badhiya</a>
      </li> -->
      <li class="nav-item" id ="admin" *ngIf="status && admin" >
        <div ngbDropdown class="d-inline-block" >
          <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Admin</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="['addProduct']">Add Product</button>
            <button ngbDropdownItem [routerLink]="['addCoupon']">Add Coupon</button>
            <button ngbDropdownItem [routerLink]="['listCoupon']">List Coupon</button>
            <button ngbDropdownItem [routerLink]="['adminpanel']">Profile</button>
          </div>
        </div>
      </li>

      <li class="nav-item" id="regular" *ngIf="status" >
        <div ngbDropdown class="d-inline-block" >
          <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>My Account</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngIf="!admin" (click)="goToCart()">Cart</button>
            <!-- <button ngbDropdownItem>Orders</button> -->
            <button ngbDropdownItem *ngIf="!admin" [routerLink]="['loginsuccess']">Profile</button>
            <button ngbDropdownItem (click) = "logout()">Logout</button>
          </div>
        </div>
      </li>

      
    </ul>
    
  </div>
</nav>
<br>
<hr>



<div class="container-fluid">
  <router-outlet></router-outlet>
</div>