<!--nav class="navbar navbar-expand-sm navbar-light fixed-top " id="navbar">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" >{{title | uppercase}}</a>
      
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!status" [routerLink]="['register']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!status" [routerLink]="['login']">Login</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['list']">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['search']">Search</a>
      </li>
      
      
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" id="admin" *ngIf="status && admin">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Admin</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="['addProduct']">Add Product</button>
            <button ngbDropdownItem [routerLink]="['addCoupon']">Add Coupon</button>
            <button ngbDropdownItem [routerLink]="['listCoupon']">List Coupon</button>
            <button ngbDropdownItem [routerLink]="['adminpanel']">Profile</button>
          </div>
        </div>
      </li>

      <li class="nav-item" id="regular" *ngIf="status">
        <div ngbDropdown class="d-inline-block">

          <button type="button" class="btn button" id="dropdownBasic1" ngbDropdownToggle> <a>
              <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049_960_720.png" width="40" height="40"
                class="rounded-circle">
            </a></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngIf="!admin" (click)="goToCart()">Cart</button>
            
            <button ngbDropdownItem *ngIf="!admin" [routerLink]="['loginsuccess']">Profile</button>
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
      </li>



    </ul>

  </div>
</nav>-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.pkgd.min.js"
  integrity="sha512-achKCfKcYJg0u0J7UDJZbtrffUwtTLQMFSn28bDJ1Xl9DWkl/6VDT3LMfVTo09V51hmnjrrOTbtg4rEgg0QArA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--NAVBAR-->

<header class="head">
  <nav class="navbar container navbar-expand-lg navbar-light nav-color inline-flex">
    <a class="navbar-brand" [routerLink]="['']" style="font-family: 'Rye', cursive;">Fragnance <span> World</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active"> <a class="nav-link" [routerLink]="['']">Home <span
              class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a class="nav-link" *ngIf="!status" [routerLink]="['register']">Register</a> </li>
        <li class="nav-item"> <a class="nav-link" *ngIf="!status" [routerLink]="['login']">Login</a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['list']">Products</a> </li>
        <li class="nav-item">
          <a class="nav-link" type="button" [routerLink]="['search']">
            <img src="https://www.pxpng.com/public/uploads/preview/-216331814244q8xkwcp39.png" style="height: 26px;">
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" id="admin" *ngIf="status && admin">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Admin</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem [routerLink]="['addProduct']">Add Product</button>
              <button ngbDropdownItem [routerLink]="['addCoupon']">Add Coupon</button>
              <button ngbDropdownItem [routerLink]="['listCoupon']">List Coupon</button>
              <button ngbDropdownItem [routerLink]="['adminpanel']">Profile</button>
            </div>
          </div>
        </li>

        <li class="nav-item" id="regular" *ngIf="status">
          <div ngbDropdown class="d-inline-block">

            <button type="button" class="btn button" id="dropdownBasic1" ngbDropdownToggle> <a>
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyDmPYmQBvDzKEu5trlzyQ-vcWScHZhuWzag&usqp=CAU"
                  width="40" height="40" class="rounded-circle">
              </a></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngIf="!admin" (click)="goToCart()">Cart</button>

              <button ngbDropdownItem *ngIf="!admin" [routerLink]="['loginsuccess']">Profile</button>
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
          </div>
        </li>



      </ul>
    </div>
  </nav>
</header>
<div>
  <router-outlet></router-outlet>
</div>
<!--
<hr>
<br>


-->

<!-- Footer -->