<!-- <table class="table table-bordered">
  <thead>
      <tr>
          <th>AddressId</th>
          <th>HouseNo</th> 
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Pincode</th>

      </tr>
  </thead>
  <tbody *ngFor="let a of address;let i = index">
      <tr (click)="select(i)">
          <td>{{a.addressId}}</td>
          <td>{{a.houseNo}}</td>
          <td>{{a.street}}</td>
          <td>{{a.city}}</td>
          <td>{{a.state}}</td>
          <td>{{a.pincode}}</td>
      </tr>
  </tbody>
</table> -->

<div class="card">
    <!-- <div class="row"> -->
        <div class="col-md-8 cart">
            <div class="title">
                <!-- <div class="row"> -->
                    <div class="col">
                        <h4><b>List of Orders</b></h4>
                    </div>
                </div>
            </div>
            <div id="hi" class="row border-top border-bottom">
                <div id="hola" class="row main align-items-center">
                    <div class="col">Address id</div>
                    <div class="col" >House No</div>
                    <div class="col" >Street</div>
                    <div class="col">City</div>
                    <div class="col">State</div>
                    <div class="col">Pin</div>
                </div>
                <div class="row main align-items-center" *ngFor="let a of address;let i = index">
                    <div class="col">{{a.addressId}}</div>
                    <div class="col">{{a.houseNo}}</div>
                    <div class="col" >{{a.street}}</div>
                    <div class="col">{{a.city}}</div>
                    <div class="col">{{a.state}}</div>
                    <div class="col">{{a.pincode}}</div>
                </div>
            </div>
            <div id="hlw" class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to Profile</span></div>
        </div>