<form (ngSubmit)="list()">
  <div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" [(ngModel)]="uid" name="uid" > 
</div>
<button type="submit" class="btn btn-outline-primary" >search</button>
</form>

<table class="table table-bordered">
  <thead>
      <tr>
          <th>AddressId</th>
          <th>HouseNo</th> 
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Pincode</th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let a of address" >
          <td>{{a.addressId}}</td>
          <td>{{a.houseNo}}</td>
          <td>{{a.street}}</td>
          <td>{{a.city}}</td>
          <td>{{a.state}}</td>
          <td>{{a.pincode}}</td>
      </tr>
  </tbody>
</table>