<div style="float: left;">
    <form (ngSubmit)="search()" #addForm="ngForm">
        <div class="mb-3 mt-3">
            <label for="category" class="form-label">Search</label>
            <input type="text" class="form-control" id="pname" placeholder="Enter Product Name" name="pname"
                pattern="[a-zA-Z]{2,}" [(ngModel)]="f" #pname="ngModel">
            <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Submit</button>
        </div>
    </form>

    <form (ngSubmit)="searchbyrange()" #addForm="ngForm">
        <div class="mb-3 mt-3">
            <label for="customRange2" class="form-label">Enter Maximum Price </label>
            <input type="range" class="form-range" id="price" name="highp" min="0" max="1500" [(ngModel)]="highp"
                #price="ngModel" oninput="this.form.amountInput.value=this.value" />
            <input type="number" name="amountInput" min="0" max="20" value="0"
                oninput="this.form.amountRange.value=this.value" />
            <input type="submit">
        </div>
    </form>

    <div class="table" *ngFor="let p of product">
        <div class="card">
            <table>
                <tr>
                    <td>
                        <h4 class="text-secondary display-6">{{p.pname}}</h4>
                        <table>
                            <tr>
                                <td>
                            <tr>
                                <td>Price :{{p.price | currency : "INR"}}</td>
                            </tr>
                            <tr>
                                <td>Stock :{{p.stock}}</td>
                            </tr>
                            <tr>
                                <td>Category :{{p.category}}</td>
                            </tr>
                    </td>
                <tr>
                    <td><input class="btn btn-primary" type="button" value="add to cart"></td>
                </tr>
            </table>
            </td>

            </tr>
            </table>


        </div>
    </div>