<!-- Carousel -->
<div class="container-fluid">
<div id="demo" class="carousel slide " data-bs-ride="carousel" style="margin: 40px 50px 0px 50px;">


    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1629077007578-a36bb1056b3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Los Angeles" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1600680763979-eadfcbdb6a69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
                alt="Chicago" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://ap.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton--1901_LVMagazine_Meteore_Fragrance_Launch_DI3.jpg?wid=2048"
                alt="New York" class="d-block w-100">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']" ><h3>Store</h3></a>
            </li>
            <li class="nav-item">
                <a type="button" class="fa fa-fw fa-search btn btn-light" [routerLink]="['search']"  >
                    <img src="https://www.pxpng.com/public/uploads/preview/-216331814244q8xkwcp39.png"
                        style="height: 40px;">
                </a>
            </li>
        </ul>
    </div>
</nav>

<br>
<!--GAallery-->

<div class="gallery" style="margin-left: 70px;" >
        <a target="_blank">
        <img src="https://images.unsplash.com/photo-1619994403073-2cec844b8e63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
            alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" >
        <img src="https://images.unsplash.com/photo-1620057170571-9868685e431a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTZ8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank">
        <img src="https://images.unsplash.com/photo-1594035910387-fea47794261f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyZnVtZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" >
        <img src="https://images.unsplash.com/photo-1561997835-49889d0e0355?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
    <a target="_blank" >
        <img src="https://images.unsplash.com/photo-1624824022425-c40966b056da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery" >
    <a target="_blank" >
        <img src="https://images.unsplash.com/photo-1608528577891-eb055944f2e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery" style="margin-right: 70px;">
    <a target="_blank"  >
        <img src="https://images.unsplash.com/photo-1618478441890-8d4e722fe882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcmZ1bWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

</div>


