<!-- <div *ngIf="cart.total_price !== 0">
    <div class="container-fluid mt-3" *ngFor="let i of items">
        <div class="card">
            <table>
                <tr>
                    <td><img src="https://m.media-amazon.com/images/I/61KQbRUxsgL._SL1500_.jpg" alt=""></td>
                    <td>
                        <h4 class="text-secondary display-6">{{i.pname}}</h4>
                        <table>
                            <tr><td>
                                <tr><td>price :{{i.price | currency : "INR"}}</td></tr>
                                <tr><td>C :{{i.category}}</td></tr></td>
                        </table>
                    </td>
                   </tr>
            </table>
        </div>
    </div>
    <hr>
    <div>
        <list-address></list-address>
    </div>
    <hr>
    <div>
        <list-coupon></list-coupon>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <h3>Your Total Amount: </h3>
                    </td>
                    <td>
                        <h3>{{cart.total_price | currency:"INR"}}</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan=2 style="text-align: center;"><button type="submit" class="btn btn-primary" (click)="checkout()">Checkout</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">{{items.length}} Items</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center" *ngFor="let i of items">
                    <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                    <div class="col">
                        <div class="row" style="font-weight: bold;">{{i.pname}}</div>
                        <div class="row">{{i.category}}</div>
                    </div>
                    <div class="col">{{i.price | currency : "INR"}} </div>
                </div>
            </div>
            
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS {{items.length}}</div>
                <div class="col text-right"></div>
            </div>
            <form>
                     <p>Delivery-Address</p> <select>
                    <!-- address options -->
                    <option class="text-muted" *ngFor="let d of addresses ; let i=index" [value]="d" ><button click="selectAddress(i)">Address {{i+1}}{{d | json}}</button></option>
                </select>
            </form>
            <form>
                <p>Coupon-Code</p> 
                <select >
                    <option class="text-muted" *ngFor="let c of coupons ; let j=index" [value]="c">Coupon {{j+1}}<br>{{c | json}}</option>
                </select>
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">{{cart.total_price | currency:"INR"}}</div>
                <!-- <div class="col">Discounted PRICE</div>
                <div class="col text-right">{{cart.total_price | currency:"INR"}}</div> -->
            </div> <button class="btn">CHECKOUT</button>
        </div>
    </div>
</div>


<div *ngIf="cart.total_price === 0">
    <h1>You have nothing in your cart to checkout...</h1>
</div> 
