<div class="ba">
    <div style="text-align: center; margin-left: 200px; margin-right: 200px;">
        <div id="product-1" class="single-product" style="margin-bottom:200px">
            <div class="p2">
                <div class="button_slide slide_right" (click)="add()">Add Products </div>
            </div>
        </div>
        <div style="text-align: right;" class="rightdiv">
            <div class="p2" class="ba">
                <div class="button_slide slide_right" style="text-align:right ;" (click)="listCoupon()">List Coupon </div>
            </div>
        </div>

        <div style="text-align: left;" class="leftdiv ">
            <div class="p2" class="ba">
                <div class="button_slide slide_right" style="text-align:left ;" (click)="addCoupon()">Add Coupons </div>
            </div>
        </div>
        <div style="text-align: center;" class="leftdiv ">
            <div class="p2" class="ba">
                <div class="button_slide slide_right" style="text-align:left ;"(click)="profile()">Profile </div>
            </div>
        </div>
    </div>
</div>