<div class="container-fluid" style="text-align: center;margin: 0px 300px;">
    <div class="row">

        <div class="column">
            <img src="https://www.freeiconspng.com/thumbs/add-icon-png/add-icon--line-iconset--iconsmind-29.png" alt="" height="200px">
            <p>Add Products from here</p>
            <button class="button button--nanuk button--border-thin button--round-s" (click)="add()">
                <span>A</span><span>D</span><span>D</span><span>&nbsp;</span><span>P</span><span>R</span><span>O</span><span>D</span><span>U</span><span>C</span><span>T</span><span>S</span>
            </button>


        </div>
        <div class="column">
            <img src="https://cdn-icons.flaticon.com/png/512/2102/premium/2102647.png?token=exp=1650172787~hmac=60b2487e9152f12bfda851e430ce7ddd" alt="" height="200px">
            <p>Admin Dashboard</p>
            <div>
                <button class="button button--nanuk button--border-thin button--round-s" (click)="profile()">
                    <span>D</span><span>A</span><span>S</span><span>H</span><span>&nbsp;</span><span>B</span><span>O</span><span>A</span><span>R</span><span>D</span>
                </button>
            </div>
        </div>

        <div class="column">
            <img src="https://www.freeiconspng.com/thumbs/add-icon-png/add-icon--line-iconset--iconsmind-29.png" alt="" height="200px">
            <p>Add Coupons from here</p>
            <button class="button button--nanuk button--border-thin button--round-s" (click)="addCoupon()">
                <span>A</span><span>D</span><span>D</span><span>&nbsp;</span><span>C</span><span>O</span><span>U</span><span>P</span><span>O</span><span>N</span><span>S</span>
            </button>

        </div>
        <div class="column">
            <img src="https://cdn-icons-png.flaticon.com/512/3126/3126552.png" alt="" height="200px">
            <p>See all Coupons from here</p>
            <button class="button button--nanuk button--border-thin button--round-s" (click)="listCoupon()">
                <span>L</span><span>I</span><span>S</span><span>T</span><span>&nbsp;</span><span>C</span><span>O</span><span>U</span><span>P</span><span>O</span><span>N</span><span>S</span>
            </button>
        </div>

    </div>
</div>
<hr>